body{
    margin: 0px;
    padding: 0px;
   background-color: #001e4d;
   font-family:Arial, Helvetica, sans-serif
}
.app{
     background-color: #fff;
     width: 90%;
      max-width:  400px;
      margin: 100px auto 0;
       border-radius: 10px;
       padding: 30px;
}
.app h1{
    font-weight: 25px;
    color: #001e4d ;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 0px;
}
.quiz h2{
    font-size: 18px;
    color:#001e4d;
    font-weight: 600;
}
.btn{
    background-color: white;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    cursor: pointer;
}
.btn:hover{
   
    color:black
     
}
#next-btn{
    background-color: #001e4d;
    color: white;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px 120px;
    border-radius: 4px;
    cursor: pointer;
    display: none;
      

}
.correct{
     background-color: green ;
}
.incorrect{
    background-color: red;
}